@import "../../styles/variables.scss";

.warasar-select {
  border: 1px solid $borderColor;
  border-radius: 6px;
  background-color: $whiteColor;
  transition: 0.2s;
  display: grid;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: calc(100% - 1px);

  &:hover {
    border: 1px solid $activeColor;
    cursor: pointer;
  }

  &-active {
    border: 1px solid $activeColor;
  }

  &-disabled {
    border: 1px solid $borderColor;
    background-color: $disabledColor;
    border-radius: 6px;
    transition: 0.2s;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    overflow: hidden;

    input {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 12px;
      border: none;
      transition: 0.2s;
      user-select: text;
      width: calc(100% - 24px);
      height: calc(100% - 12px);
    }
  }

  input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    border: none;
    transition: 0.2s;
    background-color: $whiteColor;
    user-select: text;
    width: calc(100% - 24px);
    height: calc(100% - 12px);
  }

  input:focus {
    background-color: $inputFocusBgColor;
    transition: 0.2s;
    outline: none !important;
    border-color: #1677ff;

    .pm-side-head-search-icon {
      background-color: $inputFocusBgColor;
    }
  }

  &-text {
    font-family: $font;
    font-size: 12px;
    color: $textColor;
  }

  &-arrow {
    background-color: #eee;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    &-icon {
      width: 18px;
      height: 18px;
      background: url("../../images/chevron-down.svg");
      background-position: center;
      background-size: cover;
      transform: rotate(180deg);
      transition: 0.2s;

      &_active {
        width: 18px;
        height: 18px;
        background: url("../../images/chevron-down.svg");
        background-position: center;
        background-size: cover;
        transition: 0.2s;
      }
    }
  }

  &-popover {
    position: absolute;
    top: 100%;
    background-color: $whiteColor;
    border: 1px solid $borderColor;
    width: 100%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 3;
    overflow: hidden;
  }

  &-items {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 500px;

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #d2d2d2;
    }
  }

  &-item {
    padding: 6px 12px;
    gap: 4px;
    align-items: center;
    transition: 0.2s;
    font-family: $font;
    font-size: 12px;
    user-select: none;
    color: $textColor;

    &-active {
      padding: 6px 12px;
      gap: 4px;
      align-items: center;
      transition: 0.2s;
      font-family: $font;
      font-size: 12px;
      user-select: none;
      background-color: $activeColor;
      color: $whiteColor;
    }

    &:hover {
      background-color: $activeColor;
      color: $whiteColor;
      cursor: pointer;
    }
  }

  &-xIcon {
    width: 18px;
    height: 18px;
    background: url("../../images/x-circle.svg");
    background-position: center;
    background-size: cover;
    transition: 0.2s;
    margin-right: 6px;
    margin-left: 6px;

    &:hover {
      width: 18px;
      height: 18px;
      background: url("../../images/x-circle_active.svg");
      background-position: center;
      background-size: cover;
      transition: 0.2s;
      margin-right: 6px;
      margin-left: 6px;
    }
  }
}
