@import "../../styles/variables.scss";

.divider {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 12px;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 6px;

  &-border {
    border-bottom: 1px solid $borderColor;
  }

  &-text {
    font-size: 16px;
    font-family: $font;
    color: $textColor;
  }
}
