@import "../../styles/variables.scss";

.warasar-empty {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: $font;
  color: $textColor;
}
